@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.card
{
  height: 60vh;
  margin: 25px;
  padding: 25px;
}
.center img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height: 162px;
  width: 250px;
  margin: 20px 0px;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
}
h4,h6 {
    font-weight: 400;
}
.card-table {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #D3C37B;
  border-radius: .25rem;
}

.center .btn {
  font-size: 14px !important;
  margin-top: 20px !important;
  font-weight: 400;
  padding: 12px 72px;
  border-radius: 3px !important;
}
.supp{
  border: none;
  background: none;
  color: red;
  font-weight: bold;
}
.empty{
border: none;
background-color: beige;
color: #D3C37B;
cursor: pointer;
font-weight: bold;
}
.empty:hover{
  opacity:0.5;
}
.shop{
  cursor: pointer;
  border: none;
background-color: beige;
color: #764929;
font-weight: bold;
}
.text{
  color: #764929;
}
.name{
  font-weight: bold;
}
h5{
  color: #D3C37B;
  font-weight: bold;
}
h4{
  font-family: 'Tangerine', serif;
  color: #764929;
  font-size: 30px;
}
h6{
  font-size: 15px;
  color: #D3C37B;
}
.now{
  background-color: #E4E9F1;
  color: black;
  font-weight: bold;
  border:none;
}
